<%- include('partials/header-auth') %>

<div id="expenses" class="container">

  <div class="flex my-3 p-3 shadow-md shadow-slate-400">
    <div class="flex flex-col flex-1 border-r border-gray-300 text-center">
      <h4 class="uppercase">Total</h4>
    </div>
    <div class="flex flex-col flex-1 text-center">
      <span>$<h1 id="total"></h1></span>
    </div>
  </div>

  <h3 class="pb-1 mx-1 my-3 border-b border-gray-300">Add new expense</h3>
  <form id="expenses-form" action="/expenses/addExpenses" method="POST">
    <div>
      <label for="text">Text</label>
      <input class="bg-blue-50 caret-purple-600 px-4 py-3 rounded-full border-2 border-cyan-800 focus:border-blue-500 focus:outline-none focus:bg-blue-100" type="text" id="text" name="text" placeholder="Enter text..." required>
    </div>
    <div>
      <label for="amount">Amount</label>
      <input class="bg-blue-50 caret-purple-600 px-4 py-3 rounded-full border-2 border-cyan-800 focus:border-blue-500 focus:outline-none focus:bg-blue-100" type="number" id="amount" name="amount" placeholder="Enter amount..." required>
    </div>
    <button id="add" class="flex-flex-row w-full p-3 px-6 pt-2 mt-4 mx-auto font-bold text-slate-100 bg-cyan-600 rounded-full baseline hover:bg-cyan-700 md:justify-center md:items-center md:w-1/3" type="submit">Add transaction</button>
  </form>
</div>

<h3 class="pb-1 mx-1 my-3 border-b border-gray-300">History</h3>
<ul id="list" class="mb-5 list-none">
  <% expenses.forEach((expenses) => { %>
  <li class="flex justify-between relative p-2 m-2 shadow-md shadow-slate-400 text-red-600">
    <%= expenses.text %> <span><%= expenses.amount %></span>
    <p class="text-slate-700 text-right text-xs mb-2"><%= expenses.createdAt.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %></p>
    <form action="/expenses/deleteExpenses/<%= expenses._id %>?_method=DELETE" method="POST">
      <button class="mr-2 mt-2" type="submit">
        <i class="fa-solid fa-trash-can text-blue-500"></i>
      </button>
    </form>
  </li>
  <% }); %>
</ul>

<%- include('partials/footer') -%>