<%- include('partials/header-auth') %>

<main class="bg-bkgd font-body text-darkGray flex flex-col">
  <section id="garden" class="garden container flex flex-col">
    <div class="flex flex-col mx-auto bg-lightYellow shadow-md rounded-lg w-full px-8 py-14  items-center justify-center">
      <div id="messages" class="flex-col text-xl pb-10 text-alert font-bold mx-auto text-center"></div>
      <div class="flex flex-row w-1/2 justify-between pb-10">
        <button id="saveBtn" type="button" onclick="saveGarden('<%= user._id %>')" class=" w-full mb-4 bg-darkPinkOrange hover:bg-vDarkPinkOrange text-lightGreen font-bold py-2 px-4 rounded mr-3 focus:outline-none mx-auto justify-center">Save!</button>
        <button id="clearBtn" type="button" onclick="clearGarden('<%= user._id %>')" class="w-full mb-4 bg-darkPinkOrange hover:bg-vDarkPinkOrange text-lightGreen font-bold py-2 px-4 rounded focus:outline-none mx-auto justify-center">Clear!</button>
      </div>
      <div class="flex flex-row w-full items-center justify-center mx-auto">
        <div class="garden-icon-list flex flex-col justify-center w-1/4">
          <div class="flex flex-row justify-between mr-10 my-3">
            <span class="text-xs flex justify-center items-center uppercase text-heading font-bold">Root</span>
            <img src="/images/icons8-carrot-40.png" alt="carrot" id="carrot" class="garden-icon cursor-move" draggable="true">
          </div>
          <div class="border-b border-lightOrange my-1 mr-10"></div>
          <div class="flex flex-row justify-between mr-10 my-3">
            <span class="text-xs flex justify-center items-center uppercase text-heading font-bold">Potato</span>
            <img src="/images/icons8-potato-40.png" alt="potato" id="potato" class="garden-icon cursor-move" draggable="true">
          </div>
          <div class="border-b border-lightOrange my-1 mr-10"></div>
          <div class="flex flex-row justify-between mr-10 my-3">
            <span class="text-xs flex justify-center items-center uppercase text-heading font-bold">Solanum</span>
            <img src="/images/icons8-tomato-40.png" alt="tomato" id="tomato" class="garden-icon cursor-move" draggable="true">
          </div>
          <div class="border-b border-lightOrange my-1 mr-10"></div>
          <div class="flex flex-row justify-between mr-10 my-3">
            <span class="text-xs flex justify-center items-center uppercase text-heading font-bold">Corn</span>
            <img src="/images/icons8-corn-48.png" alt="corn" id="corn" class="garden-icon cursor-move" draggable="true">
          </div>
          <div class="border-b border-lightOrange my-1 mr-10"></div>
          <div class="flex flex-row justify-between mr-10 my-3">
            <span class="text-xs flex justify-center items-center uppercase text-heading font-bold">Legume</span>
            <img src="/images/icons8-edamame-beans-48.png" alt="beans" id="beans" class="garden-icon cursor-move" draggable="true">
          </div>
          <div class="border-b border-lightOrange my-1 mr-10"></div>
          <div class="flex flex-row justify-between mr-10 my-3">
            <span class="text-xs flex justify-center items-center uppercase text-heading font-bold">Allium</span>
            <img src="/images/icons8-garlic-40.png" alt="garlic" id="garlic" class="garden-icon cursor-move" draggable="true">
          </div>
          <div class="border-b border-lightOrange my-1 mr-10"></div>
          <div class="flex flex-row justify-between mr-10 my-3">
            <span class="text-xs flex justify-center items-center uppercase text-heading font-bold">Greens</span>
            <img src="/images/icons8-lettuce-48.png" alt="lettuce" id="lettuce" class="garden-icon cursor-move" draggable="true">
          </div>
          <div class="border-b border-lightOrange my-1 mr-10"></div>
          <div class="flex flex-row justify-between mr-10 my-3">
            <span class="text-xs flex justify-center items-center uppercase text-heading font-bold">Cucurbit</span>
            <img src="/images/icons8-melon-40.png" alt="melon" id="melon" class="garden-icon cursor-move" draggable="true">
          </div>
        </div>
        <div class="bg-accent shadow-md rounded p-6 mx-auto grid grid-cols-10 gap-0 w-3/4 items-center">
          <% for (let i = 0; i < 10; i++) { %>
          <% for (let j = 0; j < 10; j++) { %>
          <div class="garden-cell border border-darkGreen w-12 h-12 p-0 m-0" data-row="<%= i %>" data-col="<%= j %>" id="cell-<%= i %>-<%= j %>">
            <% if (user.garden && user.garden.cells) {
              const cell = user.garden.cells.find(c => c.position.row === i && c.position.col === j);
              if (cell) { %>
            <%= cell.icon %>
            <% }
            } %>
          </div>
          <% } %>
          <% } %>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('partials/footer') -%>