<%- include('partials/header-auth') %>

<main class="flex flex-row bg-bkgd font-body text-darkGray w-full mx-auto">
  <section class="container flex flex-row p-6 mt-10 min-h-screen">
    <div class="category p-2 mx-1 w-1/4 bg-lightOrange rounded-md">
      <div class="flex flex-col">
        <h2 class="mb-3 uppercase font-heading font-bold border-b border-darkGray">To Do</h2>
        <form id="todo-form" action="/kanban/createKanban" method="POST" class="mb-5 flex flex-row">
          <input type="hidden" name="category" value="To Do">
          <input id="todo-input" type="text" name="item" placeholder="Add item" required class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:shadow-outline caret-lightPurple border-darkPinkOrange focus:border-brightBlue focus:outline-none focus:bg-bkgd">
          <button type="submit" class="text-vDarkPinkOrange font-bold text-xs
        ">+ Add</button>
        </form>
        <ul>
          <% kanban.forEach((item) => {
          if (item.category === 'To Do') { %>
          <li class="bg-accent shadow-md rounded flex flex-col break-words mb-8 mt-15 border border-darkGray p-2 pb-0 draggable cursor-move" draggable="true">
            <p><%= item.item %></p>
            <div class="flex flex-row justify-end mt-2">
              <p class="align-text-bottom text-xs mr-3"><%= item.createdAt.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %></p>
              <form action="/kanban/deleteKanban/<%= item._id %>?_method=DELETE" method="POST" class="flex flex-row">
                <button type="submit">
                  <i class="fa-solid fa-trash-can mb-2 text-darkBlue hover:text-vDarkBlue align-text-bottom"></i>
                </button>
              </form>
            </div>
          </li>
          <% }}); %>
        </ul>
      </div>
    </div>
    <div class="category p-2 mx-1 w-1/4 bg-lightOrange rounded-md">
      <div class="flex flex-col">
        <h2 class="mb-3 uppercase font-heading font-bold border-b border-darkGray">This Week</h2>
        <form id="todo-form" action="/kanban/createKanban" method="POST" class="mb-5 flex flex-row">
          <input type="hidden" name="category" value="This Week">
          <input id="todo-input" type="text" name="item" placeholder="Add item" required class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:shadow-outline caret-lightPurple border-darkPinkOrange focus:border-brightBlue focus:outline-none focus:bg-bkgd">
          <button type="submit" class="text-vDarkPinkOrange font-bold text-xs
          ">+ Add</button>
        </form>
        <ul>
          <% kanban.forEach((item) => {
          if (item.category === 'This Week') { %>
          <li class="bg-accent shadow-md rounded flex flex-col break-words mb-8 mt-15 border border-darkGray p-2 pb-0 draggable cursor-move" draggable="true">
            <p><%= item.item %></p>
            <div class="flex flex-row justify-end mt-2">
              <p class="align-text-bottom text-xs mr-3"><%= item.createdAt.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %></p>
              <form action="/kanban/deleteKanban/<%= item._id %>?_method=DELETE" method="POST" class="flex flex-row">
                <button type="submit">
                  <i class="fa-solid fa-trash-can text-darkBlue mb-2 hover:text-vDarkBlue align-text-bottom"></i>
                </button>
              </form>
            </div>
          </li>
          <% }}); %>
        </ul>
      </div>
    </div>
    <div class="category p-2 mx-1 w-1/4 bg-lightOrange rounded-md">
      <div class="flex flex-col">
        <h2 class="mb-3 uppercase font-heading font-bold border-b border-darkGray">Today</h2>
        <form id="todo-form" action="/kanban/createKanban" method="POST" class="mb-5 flex flex-row">
          <input type="hidden" name="category" value="Today">
          <input id="todo-input" type="text" name="item" placeholder="Add item" required class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:shadow-outline caret-lightPurple border-darkPinkOrange focus:border-brightBlue focus:outline-none focus:bg-bkgd">
          <button type="submit" class="text-vDarkPinkOrange font-bold text-xs
          ">+ Add</button>
        </form>
        <ul>
          <% kanban.forEach((item) => {
          if (item.category === 'Today') { %>
          <li class="bg-accent shadow-md rounded flex flex-col break-words mb-8 mt-15 border border-darkGray p-2 pb-0 draggable cursor-move" draggable="true">
            <p><%= item.item %></p>
            <div class="flex flex-row justify-end mt-2">
              <p class="align-text-bottom text-xs mr-3"><%= item.createdAt.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %></p>
              <form action="/kanban/deleteKanban/<%= item._id %>?_method=DELETE" method="POST" class="flex flex-row">
                <button type="submit">
                  <i class="fa-solid fa-trash-can text-darkBlue mb-2 hover:text-vDarkBlue align-text-bottom"></i>
                </button>
              </form>
            </div>
          </li>
          <% }}); %>
        </ul>
      </div>
    </div>
    <div class="category p-2 mx-1 w-1/4 bg-lightOrange rounded-md">
      <div class="flex flex-col">
        <h2 class="mb-3 uppercase font-heading font-bold border-b border-darkGray">In Progress</h2>
        <form id="todo-form" action="/kanban/createKanban" method="POST" class="mb-5 flex flex-row">
          <input type="hidden" name="category" value="In Progress">
          <input id="todo-input" type="text" name="item" placeholder="Add item" required class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:shadow-outline caret-lightPurple border-darkPinkOrange focus:border-brightBlue focus:outline-none focus:bg-bkgd">
          <button type="submit" class="text-vDarkPinkOrange font-bold text-xs
          ">+ Add</button>
        </form>
        <ul>
          <% kanban.forEach((item) => {
          if (item.category === 'In Progress') { %>
          <li class="bg-accent shadow-md rounded flex flex-col break-words mb-8 mt-15 border border-darkGray p-2 pb-0 draggable cursor-move" draggable="true">
            <p><%= item.item %></p>
            <div class="flex flex-row justify-end mt-2">
              <p class="align-text-bottom text-xs mr-3"><%= item.createdAt.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %></p>
              <form action="/kanban/deleteKanban/<%= item._id %>?_method=DELETE" method="POST" class="flex flex-row">
                <button type="submit">
                  <i class="fa-solid fa-trash-can text-darkBlue mb-2 hover:text-vDarkBlue align-text-bottom"></i>
                </button>
              </form>
            </div>
          </li>
          <% }}); %>
        </ul>
      </div>
    </div>
  </section>
</main>

<%- include('partials/footer') -%>