<%- include('partials/header-auth') %>

<main class="bg-bkgd font-body text-darkGray flex flex-col items-center justify-center w-full mx-auto">
  <div class="container flex flex-col">
    <div class="bg-lightOrange py-14 flex flex-col items-center justify-center w-full px-8 mx-auto rounded-lg shadow-md">
      <section class="md:p-6 md:w-3/4 flex flex-col items-center justify-center w-full">
        <% if (locals.messages.errors) { %>
        <% messages.errors.forEach((el) => { %>
        <div class="text-alert flex-col pb-3 mx-auto text-xl font-bold text-center">
          <%= el.msg %>
        </div>
        <% }) %>
        <% } %>
        <form action="/notes/createNotes" enctype="multipart/form-data" method="POST" class="bg-accent w-full px-8 pt-6 pb-8 rounded shadow-md">
          <div class="pb-4 my-5">
            <h2 class="font-heading border-darkGray font-bold uppercase border-b">Add a Note</h2>
          </div>
          <div class="mb-4">
            <label for="title" class="font-heading block mb-2 text-sm font-bold">Title</label>
            <input type="text" class="focus:shadow-outline caret-lightPurple border-darkGray focus:border-brightBlue focus:outline-none focus:bg-bkgd w-full px-3 py-2 leading-tight border rounded shadow appearance-none" id="title" name="title" maxlength="100">
          </div>
          <div class="mb-4">
            <label for="caption" class="font-heading block mb-2 text-sm font-bold">Caption</label>
            <input class="focus:shadow-outline caret-lightPurple border-darkGray focus:border-brightBlue focus:outline-none focus:bg-bkgd w-full px-3 py-2 leading-tight border rounded shadow appearance-none" id="caption" name="caption" maxlength="100"></input>
          </div>
          <div class="mb-4">
            <label for="imgUpload" class="font-heading block mb-2 text-sm font-bold">Image</label>
            <input type="file" class="focus:shadow-outline caret-lightPurple border-darkGray focus:border-brightBlue focus:outline-none focus:bg-bkgd w-full px-3 py-2 leading-tight border rounded shadow appearance-none" id="imageUpload" name="file">
          </div>
          <div class="flex flex-col py-5">
            <button type="submit" class="bg-darkPinkOrange hover:bg-vDarkPinkOrange text-lightGreen focus:outline-none focus:shadow-outline justify-center px-4 py-2 font-bold rounded" value="Upload">Capture!</button>
          </div>
        </form>
      </section>
      <section class="md:p-6 md:w-3/4 flex flex-col items-center justify-center w-full">
        <div class="w-full mb-4">
          <h3 class="border-darkGray font-heading w-full font-bold text-left uppercase border-b">Notes</h3>
        </div>
        <ul class="w-full">
          <% notes.sort(function(a, b) { return new Date(b.createdAt) - new Date(a.createdAt); }); %>
          <% for(let i=0; i<notes.length; i++) {%>
          <li class="bg-accent w-full p-2 pb-0 mt-5 break-words rounded shadow-md">
            <h2 class="font-heading font-bold uppercase"><%= notes[i].title%></h2>
            <% if (notes[i].image) { %>
            <img class="h-52 object-cover w-full rounded" src="<%= notes[i].image%>">
            <% } %>
            <p class="block mx-2 my-2 mt-2 text-sm"><%= notes[i].caption%></p>
            <div class="flex flex-row justify-end mt-2">
              <p class="mr-3 text-xs align-text-bottom"><%= notes[i].createdAt.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %></p>
              <form action="/notes/deleteNotes/<%= notes[i]._id %>?_method=DELETE" method="POST" class="flex flex-row">
                <button type="submit">
                  <i class="fa-solid fa-trash-can text-darkBlue hover:text-vDarkBlue mb-2 align-text-bottom"></i>
                </button>
              </form>
            </div>
          </li>
          <%}%>
        </ul>
      </section>
    </div>
  </div>
</main>

<%- include('partials/footer') -%>