<%- include('partials/header') -%>

<div class="bg-slate-100 flex flex-col mx-auto p-6 ">
  <div class="container flex flex-col justify-center items-center mx-auto p-6 md:w-2/3">
    <div class="container flex flex-col justify-between mb-8 sm:flex-row">
      <div class="flex flex-col md:ml-8">
        <p class="text-slate-700 my-3"><strong>User Name</strong>: <%= user.userName %></p>
        <p class="text-slate-700 my-3"><strong>Email</strong>: <%= user.email %></p>
        <a class="mt-16 p-3 px-6 font-bold text-slate-100 bg-cyan-600 rounded-full baseline text-center hover:bg-cyan-700 sm:mt-3 md:mt-3" href="/delete-account">Delete Account</a>
      </div>
      <div class="flex flex-col mb-8 mt-15 md:mr-8">
        <a href="/logout" class="mt-8 p-3 px-6 pt-2 text-center font-bold text-slate-100 bg-cyan-600 rounded-full baseline hover:bg-cyan-700">Logout</a>
      </div>
    </div>
    <% if (locals.messages.errors) { %>
    <% messages.errors.forEach((el) => { %>
    <div class="text-xl text-red-700 font-bold mx-auto text-center">
      <%= el.msg %>
    </div>
    <% }) %>
    <% } %>
    <div class="container mt-5">
      <h2 class="text-slate-700 font-bold text-xl mb-5">Add a post</h2>
      <form action="/post/createPost" enctype="multipart/form-data" method="POST">
        <div class="text-slate-700 flex flex-col mb-8 mt-15">
          <label for="title" class="mb-3">Title</label>
          <input type="text" class="bg-blue-50  caret-purple-600 px-4 py-3 rounded-full border-2 border-cyan-800 focus:border-blue-500 focus:outline-none focus:bg-blue-100" id="title" name="title" maxlength="100">
        </div>
        <div class="text-slate-700 flex flex-col mb-8 mt-15">
          <label for="caption" class=" mb-3">Caption</label>
          <input class="bg-blue-50  caret-purple-600 px-4 py-3 rounded-full border-2 border-cyan-800 focus:border-blue-500 focus:outline-none focus:bg-blue-100" id="caption" name="caption" maxlength="100"></input>
        </div>
        <div class="mb-3 flex flex-col mt-15">
          <label for="imgUpload" class="mb-3">Image</label>
          <div class="px-4 py-2 rounded-full border-2 border-cyan-800 ">
            <input type="file" class="bg-blue-50 w-11/12 file:mr-3 file:px-4 file:py-2
          file:rounded-full file:border-0
          file:text-sm file:font-semibold
          file:bg-blue-100 file:text-blue-500
          hover:file:bg-blue-200" id="imageUpload" name="file">
          </div>
        </div>
        <div class="flex flex-row mt-5  md:justify-center 
      md:items-center">
          <button type="submit" class="flex-flex-row w-full p-3 px-6 pt-2 mt-4 mx-auto font-bold text-slate-100 bg-cyan-600 rounded-full baseline hover:bg-cyan-700 md:justify-center md:items-center md:w-1/3" value="Upload">Post!</button>
        </div>
      </form>
    </div>
  </div>
  <div class="container flex flex-col mb-8 mt-8 mx-auto p-6 md:w-2/3">
    <ul>
      <% posts.sort(function(a, b) { return new Date(b.createdAt) - new Date(a.createdAt); }); %>
      <% for(let i=0; i<posts.length; i++) {%>
      <li class="bg-blue-50 flex flex-col break-words mb-8 mt-15 border border-cyan-700 rounded px-4 pt-2">
        <a href="/post/<%= posts[i]._id%>">
          <h2 class="text-slate-700 font-bold mb-2 mx-5 text-xl"><%= posts[i].title%></h2>
          <% if (posts[i].image) { %>
          <img class="object-cover rounded w-full h-52" src="<%= posts[i].image%>">
          <% } %>
          <p class="text-slate-700 mt-2 mx-2"><%= posts[i].caption%></p>
          <h3 class="mt-2 mr-2 mb-2 text-right text-slate-700">Likes: <%= posts[i].likes %></h3>
          <p class="text-slate-700 text-right text-xs mb-2">Post by <%= posts[i].user.userName %> on <%= posts[i].createdAt.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %></p>
        </a>
        <form action="/post/deletePost/<%= posts[i].id %>?_method=DELETE" method="POST" class="flex flex-row justify-end">
          <button class="mr-2 mt-2" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-blue-500">
              <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z" clip-rule="evenodd" />
            </svg>
          </button>
        </form>
      </li>
      <%}%>
    </ul>
  </div>
</div>
<button id="to-top-button" onclick="goToTop()" title="Go To Top" class="hidden fixed z-50 bottom-10 right-10 p-4 border-0 w-14 h-14 rounded-full shadow-md bg-purple-600 hover:bg-purple-700 text-slate-100 text-lg font-semibold transition-colors duration-300">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
    <path d="M12 4l8 8h-6v8h-4v-8H4l8-8z" />
  </svg>
  <span class="sr-only">Go to top</span>
</button>

<%- include('partials/footer') -%>